@import "@/theme/colors.module.scss";

.piano {
  width: 100%;
  height: 14vw;

  .keys-container {
    height: 100%;
    position: relative;

    .white-keys-container {
      display: flex;
      height: 100%;
    }
    .black-keys-container {
      display: flex;
      position: absolute;
      width: 100%;
      height: 60%;
      left: 1%;
      top: 0;
    }
  }
}
