@import "../../theme/colors.scss";

.label-switch {
  #label-switch:checked + span {
    background: $hightlightColorLight;
    border: 1px solid $hightlightColorDark;
    &::before {
      background: $hightlightColorDark;
    }
  }

  #label-switch:disabled + span {
    background: $accentColorLight;
    border: 1px solid $accentColorDark;
    &::before {
      background: $accentColorDark;
    }
    cursor: not-allowed;
  }

  span {
    border: 1px solid $accentColorDark;
    &::before {
      background: $accentColorDark;
    }
  }
}
