@import "@/theme/colors.module.scss";
body {
  background: $backgroundColor;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  overflow-y: scroll;
  color: $accentColorDark;

  .loader-container {
    font-size: 20px;
    .loader {
      circle {
        stroke: $accentColorDark;
      }
      circle:first-child {
        stroke: $hightlightColorDark;
      }
    }
  }

  .piano-container {
    width: 100%;

    h1 {
      font-size: clamp(40px, 10vw, 100px);
      text-align: center;
      font-weight: 600;
      letter-spacing: 2%;
    }

    .piano-controls-container {
      margin: 50px 0;
      width: 100%;

      label {
        white-space: nowrap;
      }

      .selector {
        &.midi {
          width: clamp(250px, 20vw, 345px);
          label {
            visibility: hidden;
          }
        }
        &.piano-size {
          width: 55px;
          [role="combobox"] {
            div:first-child {
              width: 100%;
              display: flex;
              justify-content: center !important;
            }
            div:has(> svg) {
              display: none !important;
            }
          }
        }

        [role="combobox"] div:first-child {
          & > div {
            color: $hightlightColorDark;
          }
        }
        [role="option"] {
          padding: 8px 12px;
          display: flex;
          justify-content: center;
          &[data-hover="true"] {
            background-color: $hightlightColorDark;
            color: white;
          }
        }
      }
    }

    .streaming-controls-container {
      width: 100%;
      max-width: 569px;
      margin: 50px auto 0 auto;
      .streaming-controls {
        width: 100%;

        .button {
          flex: 1;
        }
      }
      #connection-form {
        width: 100%;
        .connection-input-container {
          width: 100%;
          align-items: stretch;
          & > div {
            flex: 4;
            input {
              width: 100%;
              border-radius: 1000px;
              border: 2px solid $hightlightColorLight;

              &::placeholder {
                color: $hightlightColorDark;
              }
              &:focus {
                outline: none;
                border: 2px solid $accentColorDark;
              }
            }
          }

          .button {
            flex: 1;
          }
        }
      }

      .connection-msg {
        p {
          line-height: 150%;
          span {
            font-weight: 900;
          }
        }
        .copy-btn {
          button {
            padding: 5px 8px;
            font-size: 12px;
            background: $accentColorLight;
            color: white;
            border: 2px solid $accentColorLight;
            &:hover {
              background: $hightlightColorDark;
              color: white;
              border: 2px solid $hightlightColorDark;
            }
          }
        }
      }
    }
  }
}
