@use "@/theme/colors.module.scss" as *;
body {
  background: $backgroundColor;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  color: $accentColorDark;

  .loader-container {
    font-size: 20px;
    .loader {
      circle {
        stroke: $accentColorDark;
      }
      circle:first-child {
        stroke: $hightlightColorDark;
      }
    }
  }

  .piano-container {
    width: 100%;

    h1 {
      font-size: clamp(30px, 7vw, 100px);
      text-align: center;
      font-weight: 600;
      letter-spacing: 2%;
    }

    .piano-controls-container {
      margin: 30px 0 50px;
      width: 100%;

      label {
        white-space: nowrap;
      }

      .selector {
        &.midi {
          width: clamp(200px, 15vw, 300px);
          label {
            visibility: hidden;
          }
        }
        *:focus {
          outline: 2px solid $hightlightColorLight;
        }
      }
    }

    .streaming-controls-container {
      width: 100%;
      max-width: 569px;
      margin: 50px auto 0 auto;
      .streaming-controls {
        width: 100%;

        .button {
          flex: 1;
        }
      }
      #connection-form {
        width: 100%;
        .connection-input-container {
          width: 100%;
          align-items: stretch;
          & > div {
            flex: 4;
            input {
              width: 100%;
              border-radius: 1000px;
              border: 2px solid $hightlightColorLight;

              &::placeholder {
                color: $hightlightColorDark;
              }
              &:focus {
                outline: none;
                border: 2px solid $accentColorDark;
              }
            }
          }

          .button {
            flex: 1;
          }
        }
      }

      .connection-msg {
        p {
          line-height: 150%;
          span {
            font-weight: 900;
          }
        }
        .copy-btn {
          button {
            padding: 5px 8px;
            font-size: 12px;
            background: $accentColorLight;
            color: white;
            border: 2px solid $accentColorLight;
            &:hover {
              background: $hightlightColorDark;
              color: white;
              border: 2px solid $hightlightColorDark;
            }
          }
        }
      }
    }
  }
}
