@import "@/theme/colors.module.scss";

.key {
  overflow: hidden;
  flex: 1;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    margin: 0;
    color: black;
  }
  .note {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    font-size: 70%;
    flex: 1;
    padding: 10px 5px;
    text-wrap: wrap;
    width: 100%;
    &.pressed {
      border: min(0.1vw, 2px) solid white;
      border-top: none;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &.white {
    background: white;
    border: 1px solid $backgroundColor;
    border-top: none;

    &:first-child {
      border-top-left-radius: 20px;
    }
    &:last-child {
      border-top-right-radius: 20px;
    }

    .note {
      &.pressed {
        background: $hightlightColorDark !important;
      }
    }
  }

  &.black {
    background: black;
    margin-inline: 0.3%;
    padding: 2px;
    &.is-empty {
      visibility: hidden;
    }

    .note {
      padding: 10px min(0.1vw, 2px);
      color: white;
      font-size: min(50%, 16px);
      white-space: wrap;
      text-align: center;
      &.pressed {
        background: $hightlightColorLight !important;
        color: black;
      }
    }
  }
}
